html {
  background: url(/static/img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 800px;
  min-height: 900px;
}
body {
  font-family: 'Jacques Francois', serif;
  color: #585858;
}
.footer {
  width: 100%;
  text-align: center;
  height: 5px;
  margin-top: 15px;
  font-size: 10px;
}
.footer a:link {
  color: #585858;
  text-decoration: none;
}
.footer a:visited {
  color: #585858;
  text-decoration: none;
}
.card {
  width: 770px;
  height: 875px;
  padding: 35px 10px 50px 10px;
  background-image: url(/static/img/card.png);
  background-size: 100%, 100%;
  margin: 50px auto 10px;
  opacity: 0.9;
}
.border {
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.center {
  text-align: center;
}
.right{
  text-align: right;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.header {
  font-family: 'Alegreya';
  font-weight: bold;
  font-size: 48px;
}
.date {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 5px 15px 5px;
}
.title {
  width: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  padding: 30px 10px 30px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.content {
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Gilda Display', serif;
  font-weight: bold;
}
.big {
  font-size: 22px;
  font-weight: bold;
}
.small {
  font-size: 12px;
}
.quote {
  font-style: italic;
}
.image {
  margin-top: 50px;
}
.agenda {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.agenda img {
  width: 250px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.agenda iframe {
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.agenda span {
  display: inline;
  position: relative;
  float: left;
  width: 300px;
  height: 280px;
  margin: 5px;
}
.agenda div {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.blocks {
  margin-top: 50px;
}
.hotels {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.hotels img {
  width: 250px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.hotels span {
  width: 355px;
  display: inline;
  position: relative;
  float: left;
  margin-top: 60px;
}
#rsvpform input, #rsvpform select {
  color: #585858;
  padding: 6px 12px;
  height: 30px;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#rsvpform .error {
  color: #922F2F;
  font-style: italic;
  margin-left: 20px;
}
#rsvpform label {
  display: block;
  font-size: 10px;
}
#rsvpform select {
  width: 326px;
}
#rsvpform input[type=submit] {
  width: 326px;
  background: #398bce;
  color: #fff;
}
#rsvpform input[type=submit]:hover {
  background: #286191;
}
#rsvpform_outer span {
  display: inline;
  position: relative;
  float: left;
  width: 360px;
  margin: 5px;
}
.addon {
  width: 350px;
  display: block;
  vertical-align: middle;
}
.submit {
  margin-top: 10px;
}
#registry img {
  width: 250px;
  margin-bottom: 15px;
}
.milestone {
  width: 600px;
  margin: 0px auto -15px;
}
.milestone img {
  height: 110px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.milestone .pic {
  display: inline-block;
  height: 110px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.milestone .floatleft {
  float: left;
}
.milestone .floatright {
  float: right;
}
.milestone .alignleft {
  text-align: left;
}
.milestone .alignright {
  text-align: right;
}
.milestone .text {
  vertical-align: middle;
  display: table-cell;
  height: 110px;
  width: 610px;
}
