html {
  background: url(/static/img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 800px;
  min-height: 900px;
}
body {
  font-family: 'Jacques Francois', serif;
  color: #585858;
}
.footer {
  width: 100%;
  text-align: center;
  height: 5px;
  margin-top: 15px;
  font-size: 10px;
}
.footer a:link {
  color: #585858;
  text-decoration: none;
}
.footer a:visited {
  color: #585858;
  text-decoration: none;
}
.card {
  width: 770px;
  height: 775px;
  padding: 35px 10px 50px 10px;
  background-image: url(/static/img/card.png);
  background-size: 100%, 100%;
  margin: 50px auto 10px;
  opacity: 0.9;
}
.border {
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.center {
  text-align: center;
}
.right{
  text-align: right;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.header {
  font-family: 'Alegreya';
  font-weight: bold;
  font-size: 48px;
}
.date {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 5px 15px 5px;
}
.title {
  width: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  padding: 30px 10px 30px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.content {
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Gilda Display', serif;
  font-weight: bold;
}
.big {
  font-size: 22px;
  font-weight: bold;
}
.agenda {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.agenda img {
  width: 250px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.agenda iframe {
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.agenda span {
  display: inline;
  position: relative;
  float: left;
  width: 300px;
  height: 280px;
  margin: 5px;
}
.agenda div {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.hotels {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.hotels img {
  width: 250px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.hotels span {
  width: 350px;
  display: inline;
  position: relative;
  float: left;
  margin-top: 80px;
}
#registry img {
  width: 250px;
  margin-bottom: 15px;
}
