html {
  background: url(/static/img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 560px;
  min-height: 750px;
}
body {
  font-family: 'Jacques Francois', serif;
  color: #585858;
}
.footer {
  position: absolute;
  width: 100%;
  top: 140%;
  text-align: center;
}
.card {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 770px;
  height: 100%;
  padding: 35px 10px 50px 10px;
  background-image: url(/static/img/card.png);
  background-size: 100%, 100%;
}
.border {
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.center {
  text-align: center;
}
.right{
  text-align: right;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.header {
  font-family: 'Alegreya';
  font-weight: bold;
  font-size: 48px;
}
.date {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 5px 15px 5px;
}
.title {
  width: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  padding: 30px 10px 30px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.content {
  margin: 20px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Gilda Display', serif;
  font-weight: bold;
  overflow-y: auto;
}
.big {
  font-size: 22px;
  font-weight: bold;
}
.agenda img {
  width: 250px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
.agenda {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.agenda table {
  margin: 0 auto;
  text-align: center;
}
.agenda td div {
  width: 300px;
  height: 225;
  margin: 5px;
}
#accommodation img {
  width: 250px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
#registry img {
  width: 250px;
  margin-bottom: 15px;
}
